[submodule "nix/packages/dwmblocks"]
	path = nix/packages/dwmblocks
	url = https://github.com/evanwporter/dwmblocks
[submodule "nix/packages/dwm"]
	path = nix/packages/dwm
	url = https://github.com/evanwporter/dwm
[submodule "nix/packages/st"]
	path = nix/packages/st
	url = https://github.com/evanwporter/st
