[submodule "nix/packages/dwmblocks"]
	path = nix/packages/dwmblocks
	url = https://github.com/evanwporter/dwmblocks
[submodule "nix/packages/dwm"]
	path = nix/packages/dwm
	url = https://github.com/evanwporter/dwm
[submodule "nix/packages/st"]
	path = nix/packages/st-flexipatch
	url = https://github.com/evanwporter/st-flexipatch
[submodule "nix/packages/dwm-flexipatch"]
	path = nix/packages/dwm-flexipatch
	url = https://github.com/evanwporter/dwm-flexipatch
[submodule "nix/packages/slock"]
	path = nix/packages/slock
	url = https://github.com/evanwporter/slock
