[user]
	name = Evan Porter
	email = evanwporter@gmail.com

[credential "https://github.com"]
	helper = 
	helper = !/nix/store/fxvyz1dx5wp87qgbd6dfkmqqb4fypm3b-gh-2.93.0/bin/.gh-wrapped auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/fxvyz1dx5wp87qgbd6dfkmqqb4fypm3b-gh-2.93.0/bin/.gh-wrapped auth git-credential

[core]
    editor = nvim
    pager = delta

[include]
    path = ./delta/themes.gitconfig

[delta]
    features = mirthful-willow
